.card-container{
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    text-align: center;
    width:450px;
    height: fit-content;
    
    margin-top:25px;
    box-shadow: 0 0.5px 25px -14px;
}

.img-container-list{
    height:250px;
    overflow: clip;
    margin:auto;
}

button{
    background: rgb(253, 88, 0);
    color: rgb(255, 255, 255);
    padding:0 5px;
}

a{
    text-decoration: none;
}
@media all and (max-width:1200px){
    .card-container{
        background-color: white;
    }
}