
.App{
  width:97vw;
  height:88vh;
  margin:25px auto;
  display: flex;
  justify-content: space-between;
}
#on-load{
  background-color:red;
  width:400px;
  height:400px;
  z-index: 700;
  animation: abc;
  position: absolute;
  top:20%;
  left:20%;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
@keyframes abc {
  from{
    transform: rotate(0deg);
  }to{transform : rotate(360deg);}
  
}

@media all and (max-width:1200px){
  .App{
    scrollbar-color: orange;
    overflow-y: auto;
    overflow-x: clip;
    width:95vw;
    flex-direction: column;
    align-items: center;
    margin:auto
  }
  
  .ListWrapper{
   position: absolute;
   left:1%;
    margin: auto;
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 90px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 154, 13);
  border-radius: 55px;  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 174, 13);
}
}